@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Michroma&family=PT+Sans+Narrow&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1800px;
}

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1730' height='5000' preserveAspectRatio='none' viewBox='0 0 1730 5000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1051%26quot%3b)' fill='none'%3e%3crect width='1730' height='5000' x='0' y='0' fill='rgba(27%2c 16%2c 59%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c2136.652C398.257%2c2217.813%2c857.493%2c2063.94%2c1136.433%2c1768.324C1406.682%2c1481.918%2c1319.349%2c1026.9%2c1408.966%2c643.453C1478.297%2c346.802%2c1603.679%2c74.082%2c1603.599%2c-230.563C1603.509%2c-573.828%2c1575.734%2c-920.693%2c1408.478%2c-1220.453C1218.009%2c-1561.816%2c971.841%2c-1922.296%2c597.273%2c-2034.126C222.441%2c-2146.035%2c-150.29%2c-1899.935%2c-528.129%2c-1798.641C-916.597%2c-1694.497%2c-1358.888%2c-1706.915%2c-1651.695%2c-1431.202C-1953.56%2c-1146.96%2c-2077.824%2c-717.064%2c-2115.295%2c-304.133C-2151.612%2c96.081%2c-2099.07%2c526.829%2c-1858.59%2c848.79C-1632.696%2c1151.223%2c-1183.506%2c1143.779%2c-873.232%2c1358.775C-546.195%2c1585.387%2c-389.864%2c2057.202%2c0%2c2136.652' fill='%23160d2f'%3e%3c/path%3e%3cpath d='M1730 6840.573C2068.379 6851.794 2282.325 6485.477 2562.596 6295.544 2834.433 6111.327 3220.115 6041.482 3352.565 5741.001 3484.917 5440.742 3256.74 5111.458 3228.641 4784.528 3198.261 4431.053 3410.8540000000003 4012.953 3180.83 3742.849 2951.135 3473.1310000000003 2514.321 3560.7070000000003 2161.282 3531.1890000000003 1873.758 3507.149 1590.817 3501.955 1315.062 3586.85 1042.047 3670.901 816.482 3837.1189999999997 592.337 4014.209 319.6769999999999 4229.629-73.38799999999992 4389.845-134.30700000000002 4731.9529999999995-195.048 5073.06 100.63400000000001 5369.83 300.5530000000001 5652.807 470.049 5892.722 706.219 6053.747 932.15 6241.479 1193.2350000000001 6458.421 1390.732 6829.323 1730 6840.573' fill='%23201347'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1051'%3e%3crect width='1730' height='5000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.hb {
  width: 40px;
  margin: 0 auto;
  display: block;
}

#matt_img {
  shape-outside: polygon(17.5% 1.02%, 15.7% 25.07%, 20.11% 41.23%, 5.6% 59.26%, -1.3% 79.84%, -2.12% 99.41%, 83.34% 100%, 82.85% -0.43%);
}
